body
{
	background-color: #161616;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
#menu
{
	background-color: #313131;
	color: #ffffff;
	padding: 10px;
	text-align: center;
}   button {background-image:url(https://i.ibb.co/Cmk2CkD/Drzwi.png);
    background-size: cover;
    width: 100px;
    height: 300px;
	position: relative;
}
#Napis
{
	background-color: #313131;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	position: relative;
	font-family:'lato'
}
#btn
	{border: 2px solid #313131;
	background: none;
	padding: 10px 30px;
	border-radius: 8px;
	font-size: 15px;
	font-family: "lato";
	cursor: pointer;
	margin: 6px;
	transition: 0.3s;
	position: relative;
	overflow: hidden;
}